.c-main-div {
  width: 100vw;
  height: 90vh;
  display: flex;
  overflow: hidden;
  position: relative;
}

.side-menu {
  width: 6vw;
  height: 90vh;
  background-color: #7576FB;
}

.present{
  width: calc(100vw - 6vw);
  height: 90vh;
  background-color: #7576FB;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 5px;
  position: relative;
}

.side-menu:hover .present{
  animation: bouncePresent 0.5s ease;
  width: calc(100vw - 25vw);
}

.side-menu:hover {
  animation: bounceWidth 0.5s ease;
  width: 25vw;
}

.menu-content{
    display: none;
}

.progress-bar{
    width: 100%;
    height: 7px;
    border-radius: 50px;
    background-color: #ffffff50;
    margin-bottom: 20px;
}

.prev-btn{
  position: absolute;
  bottom: 4vh;
  left: 3vw;
}

.next-btn{
  position: absolute;
  bottom: 4vh;
  right: 3vw;
}

#btn{
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#btn:hover{
  font-weight: 600;
  cursor: pointer;
}

.progress{
    height: 100%;
    background-color: chartreuse;
    border-radius: 50px;
}

.menu-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.side-menu:hover .menu-content{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    padding: 20px;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
}

.topics{
  width: 100%;
  height: 60px;

  display: flex;
  /* background-color: antiquewhite; */
  align-items: center;
  margin-block: 2px;
  text-align: start;
  cursor: pointer;
}

.ppt-content{
  width: 80%;
  height: 80%;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.chat-bot{
  height: 60px;
  width: 60px;

  border-radius: 100%;
  /* background-color: white; */
  background-image: url('../../Assets/Icons/3D_bot.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  right: 20px;
  top: 10px;
  filter: drop-shadow(0 0 25px #D8CEFF);
}

@keyframes bounceWidth {
  0% {
    width: 6vw;
  }
  100% {
    width: 25vw;
  }
}

@keyframes bouncePresent {
  0% {
    width: calc(100vw - 6vw);
  }
  100% {
    width: calc(100vw - 25vw);
  }
}